<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        {%load static%}
        <link rel="stylesheet" href="{% static 'css/historico.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
        </style>
        <title>
            Germana's Shop
        </title>
    </head>
    <body>
        {% include 'loja/navbar.html' %}
        <div class="compra_antiga">asd</div>
    </body>
</html>