<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        {%load static%}
        <link rel="stylesheet" href="{% static 'css/historico.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
        </style>
        <title>
            Germana's Shop
        </title>
    </head>
    <body>
        {% include 'loja/navbar.html' %}
            {% for compra in compras%}
            <div class="compra_antiga" >
                <div class="titular">
                    <div class="dados_compra"><h1>Data da Compra</h1><h2>{{compra.data}}</h2></div>
                    <div class="dados_compra"><h1>Total</h1><h2>R$ {{compra.total}}</h2></div>
                    <div id="n_pedido" class="dados_compra"><h1>Pedido Número</h1><h2>{{compra.pk}}</h2></div>
                </div>
                <div class="lista_produtos">
                    {% for produto in compra.lista_produtos%}
                    <div class="produto">
                        <img src={{ produto.url_imagem }} alt="">
                        <a href="produto/{{  produto.pk  }}/">{{produto.nome}}</a>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>