<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/inicial.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
    </style>
    <title>
        Germana's Shop
    </title>
</head>
<body>
    {% include 'loja/navbar.html' %}
    
    <div style="height:30px; display: flex; justify-content: end; align-items: flex-end; background-color: #FFC8CA; border-radius: 0px 0px 10px 10px;">
        <p style="font-family: 'Dosis', sans-serif; font-size: 20px; line-height: 10px; padding-right: 30px; color: #000000;">
            {% if autenticado %}
                Seja bem-vindo(a) {{user.username}} <a style="font-family: 'Dosis', sans-serif; font-size: 20px; line-height: 10px; color: #F9595F;" href="">SAIR</a>
            {% else %}
                Não está logado
            {% endif %}
        </p>
        
        
    </div>
       
    
    {% for secao in secoes%}
    <div class="secao">
        <h1 class="titulo-secao">{{secao.titulo}}</h1>
        <ul>
            <li class="item-produtos">
                {% for produto in secao.lista_produtos %}
                <a href="produto/{{  produto.pk  }}/">
                    <div class="produto">
                        <img id="capa" src={{ produto.url_imagem }}>
                        <h1>{{produto.nome}}</h1>
                        <h2>R$ {{produto.preco}}</h2>
                    </div>
                </a>
                {% endfor %}
            </li>
        </ul>
    </div>
    {% endfor %}
</body>
</html>