{%load static%}
<div id="barra">
    <a href="{% url 'loja:inicio' %}">
        <img id="logo" src="{% static 'img/Logo.png' %}" alt="">
    </a>
    <div id="opcoes">
        <a class="linkopcoes" href="{% url 'cliente:cadastro' %}">
            <img id="usuario" src="{% static 'img/account-black.png' %}" alt="">
            <h1 class="tituloopcoes">Usuário</h1>
        </a>
        <a class="linkopcoes" href="/forum/">
            <img id="forum" src="{% static 'img/talk-black.png' %}" alt="">
            <h1 class="tituloopcoes">Fórum</h1>
        </a>
        <a class="linkopcoes" href="/cesta/">
            <img id="cesta" src="{% static 'img/cart-black.png' %}" alt="">
            <h1 class="tituloopcoes">Carrinho</h1>
        </a>
        <a class="linkopcoes" href="/historico/">
            <img id="cesta" src="{% static 'img/historia.png' %}" alt="">
            <h1 class="tituloopcoes">Histórico</h1>
        </a>
    </div>
</div>