<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/produto.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
    </style>
    <title>{{produto.nome}}</title>
</head>

<body>
    {% include 'loja/navbar.html' %}
    <div id ="h1">
        <div id ="h1">
            <div id="h1">
            <div id="h2">
                <div>
                    <img id= "img_fav" src="https://images.vexels.com/media/users/3/201001/isolated/lists/fff908e201cc5de6052984723b33b093-balao-de-coracao-em-conversa.png" >
                    <p id="Fav">
                        Favoritar</p>
                </div>

                <div id="h6">
                <img id="img_produto" src= {{produto.url_imagem}} >
                 </div>
            </div>
            <div id="h3">
                <p id="descricao_nome">
                    {{produto.nome}}
                </p>
                <p id="descricao_produto">
                    {{ produto.descricao }}    
                </p>
            </div>
        </div>
</div>
        <div style="width: 250px;">
        </div>
        
        <div id="h5">
        <div id="h4">
            <p id="produto_preco" >R$
                {{produto.preco}}</p>
            <p id="descricao_preco">Vc não tem
                dinheiro para comprar esse produto!</p>
            <input id="botao" type="submit" value="Comprar">
        </div>
    </div>
    </div>

</body>

</html>