<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script>
        function newPopup() {
            alert("Um e-mail foi enviado para o e-mail cadastrado! Verifique sua caixa de e-mail.")
        }
    </script>
</head>

<body style="margin:0; padding:0; border:0;">
    <div id="barra"
        style="height: 70px; background-color: #FFC8CA; justify-content: space-between; display: flex; flex-direction: row;">
        <a href="{% url 'loja:inicio' %}">
            <div>
                <img src="https://images.vexels.com/media/users/3/200058/isolated/lists/faf7d0a5f261efe8d8656e9931d16ce3-icone-de-sacola-de-compras-rosa.png"
                    style="max-height:50px; padding: 10px; float: left">
                <p style="padding-top: 5px; float: left; font-family:Arial; font: weight 600px; font-size:20px;">
                    Germana's
                    Shop</p>
            </div>
        </a>
    </div>
    <div style="width: 100%; align-items: center; justify-content: center; display: flex; flex-direction: column;">
        <h1 style="font-family:Arial; font: weight 600px; font-size:20px;">Login do Cliente</h1>
        <div style="width: 300px; background-color: #FFF; align-items: center; text-align: left;">
            <form action="{% url 'cliente:login' %}" method="post">
                {% csrf_token %}
                <p style="font-family:Arial; font: weight 500px; font-size:18px;">E-mail</p>
                <input type="text" name="email" id="email"
                    style="font-family:Arial; font: weight 500px; width: 100%; font-size:15px; background-color: #FFC8CA; border-width: 0px; height: 25px;"
                    width="100%" placeholder="Digite seu e-mail">
                <div
                    style="width: 100%; align-items: center; justify-content: space-between; display: flex; flex-direction:row;">
                    <p style="font-family:Arial; font: weight 500px; font-size:18px;">Senha</p>
                    <a href="" onClick="newPopup()">Esqueceu?</a>
                </div>
                <input type="password" name="senha" id="senha"
                    style="font-family:Arial; font: weight 500px; width: 100%; font-size:15px; background-color: #FFC8CA; border-width: 0px; height: 25px;"
                    width="100%" placeholder="Digite sua senha"><br>
                <input type="submit" value="Continuar"
                    style="background-color: #F9595F; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; border-radius: 8px; width: 100%; margin-top: 15px; font-size: 20px;">
            </form>
        </div>
        <p style="font-family:Arial; font: weight 500px; font-size:18px;">Não tem cadastro? <a
                href="{% url 'cliente:cadastro' %}">Cadastre-se</a></p>
    </div>
</body>

</html>