*{
    margin: 0px;
    padding: 0px;    
}

/* NAVIGATION  BAR */
#navbar{
    height: 70px; 
    background-color: #FFC8CA; 
    display: flex; 
    flex-direction: row;
}

#navbar img{
    max-height:50px; 
    padding: 10px; 
  
}

#navbar p{
    margin-top: 25px; 
    float: left; 
    font-family:Arial; 
    font: weight 600px; 
    font-size:20px;
   
}


/*FORM */

.formGroup{
    align-items: center; 
    justify-content: center; 
    display: flex; 
    flex-direction: column;
    margin-top:100px;
    width: 100%;
}


.formGroup h1{
    font-family:Arial; 
    font: weight 600px; 
    font-size:20px;
    margin-bottom:10px;
    
}

.form{
    width: 300px; 
    align-items: center; 
    text-align: left;
}

.formField{
    margin-bottom: 15px;
    
}

.formField label{
    font-family:Arial; 
    font: weight 500px; 
    font-size:18px;
}

.formField input{
    font-family:Arial; 
    font: weight 500px; 
    width: 100%; 
    font-size:15px; 
    background-color: #FFC8CA; 
    border-width: 0px; 
    height: 25px; 
    width:100%;
    border-radius: 3px;
    padding-left: 10px;
}

.form input[type="submit"] {
    background-color: #F9595F; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    border-radius: 8px; 
    width: 100%; 
    margin-top: 15px; 
    font-size: 20px
}

.formGroup .fazerLogin{
    margin-top:10px;
}